APP_NAME=ChatGPT Clone Backend
APP_ENV=development
DEBUG=true

CHAT_MAX_OUTPUT_TOKENS=<your max output token>
CHAT_CONTEXT_TOKEN_BUDGET=<your context budget>
CHAT_SYSTEM_PROMPT=<your system prompt>

GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-20b

DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/<your-database-name>
TEST_DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/<your-test-db-name>

POSTGRES_USER=<db-username>
POSTGRES_PASSWORD=<db-password>
POSTGRES_DB=<your db name>
